<div class="modal fade" id="jcrop-modal">
	<div class="modal-dialog">
	  <div class="modal-content">
	    <div class="modal-header">
	      <button type="button" class="close cancel_scanner" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      <h4 class="modal-title">Crop profile picture</h4>
	    </div>
	    <div class="modal-body">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
				<%= f.cropbox :avatar, :id=>"cropbox", :height=>"100px" %>
    		<%= f.crop_preview :avatar %>



	      <div class="modal-footer">
	      	<%= f.submit "Update", :class=>"btn btn-primary btn-lg" %>
	      	<% end %>
	        <button class="btn btn btn-danger cancel_scanner" data-dismiss="modal" aria-hidden="true">Cancel</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>