<% if user_signed_in? %>
 	<li>
		<%= link_to 'Edit profile', edit_user_registration_path %>
  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  	</li>
<% else %>
  	<li>
  		<%= link_to('Login', new_user_session_path) %>  
  	</li>
<% end %>


<h1>Entry#index</h1>
<h2>Hello <%=current_user.email%>!!</h2>
<p>Find me in app/views/entry/index.html.erb</p>

<p>Fuck you James!</p>

<div>
	<p>I am very happy!</p>
	<em>I am sad!</em>
	<strong>I am strong</strong>
	<p>chagnleknlej</p>
	<p>lshklwaehglkwe</p>
</div>

<div>
	<h1>Hello World!!!</h1>
</div>
