<div class="jumbotron">
  <h1>Hello, I am <%= current_user.first_name %>!</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis libero magni veniam, totam architecto distinctio assumenda aliquid eveniet accusantium amet rerum fugiat. Sint libero odio sed enim facilis unde possimus.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="container">
	<div class="page-header">
	  <h1>Data Collection Form <small>Please answer all quesitons</small></h1>
	</div>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, consectetur saepe, recusandae dolorem mollitia earum beatae, blanditiis incidunt ipsam veritatis quod, odio necessitatibus quos quidem nesciunt sunt at provident magni.</p>
 
	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>

	<div class="panel panel-primary">
	  <div class="panel-heading">
	    <h3 class="panel-title">Panel title</h3>
	  </div>
	  <div class="panel-body">
	    Panel content
	  </div>
	</div>




 </div> <!-- container -->

