<div class="container">
	<div class="page-header">
		<h1>User statistics <small>all time</small></h1>
	</div>
		<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
		    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
		    <span></span> <b class="caret"></b>
		</div>