<h1>Entry#index</h1>
<p>Find me in app/views/entry/index.html.erb</p>

<p>Fuck you James!</p>

<div>
	<p>I am very happy!</p>
	<em>I am sad!</em>
	<strong>I am strong</strong>
	<p>chagnleknlej</p>
	<p>lshklwaehglkwe</p>
</div>

<div>
	<h1>Hello World!!!</h1>
</div>