<div class="jumbotron">
 	<div class="jumbo_content"> 
	 	<img src="assets/utsc_brand.png" alt="" id="brand"><h1>Finance Lab Statistics</h1>
	 	<p>Life it is not just a series of calculations and a sum total of statistics, it's about experience, it's about participation, it is something more complex and more interesting than what is obvious.</p>
	 	
	   	<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>