.devise-form {
	height: 1000px;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url("Lib01.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	color: white;
}

.devise-box {
	border: 1.5px solid white;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.5);
}


#brand {
	/*float: left;*/
	height: 5em;
}

.devise-error {
	color: red;
}

#preview {
/*	height: 85px;
	width: 85px;*/
	/*border: 1px solid white;*/
	/*display: inline-block;*/
	/*position: relative;*/
	/*top: -85px;*/
}

#upload-box {
	/*displa: ;y: inline-block;*/
}

#jcrop-modal {
	color: black;
}