.jumbotron {
	height: 800px;
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6) ), url("Lib01.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
}

.jumbo_content {
	color: white;

}


#brand {
	/*float: left;*/
	height: 5em;
}